<!DOCTYPE HTML>

<html>

<head>
  <title>Gerenciador de Lista</title>
  <meta charset="utf-8" />
  <meta name="HandheldFriendly" content="True" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/css/style.css" rel="stylesheet">
</head>

<body id="loginBody">

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading" style="text-align: center">
            <strong>Sistema de Gestão Pessoal Hinode</strong>
          </div>
          <div class="panel-body">
            <div id="messageError">

            </div>
            <form class="form-horizontal" role="form" method="post" action="/login">
              <div class="form-group">
                <label for="login" class="col-sm-3 control-label">Login</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="login" name="login" placeholder="Usuário..." required>
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Senha</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Senha..." required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">Lembrar</label>
                  </div>
                </div>
              </div>
              <div class="form-group last">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-success btn-sm">Entrar</button>
                  <button type="reset" class="btn btn-default btn-sm">Limpar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="panel-footer">Não cadastrado? <a href="/register">cadastre-se aqui!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      var error = '{{messageError}}' || null;
      if (error) {
        $('#messageError').html('<div class="alert alert-danger alert-dismissible" role="alert">' +
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                                    '<strong>' + error + '</strong>' +
                                  '</div>');
      }
    });
  </script>
</body>

</html>
