<script>
  $(document).ready(function() {
    $('#quantidade').maskMoney({
      allowNegative: false,
      allowZero: true,
      precision: 0
    });
    $('#preco').maskMoney({
      prefix: 'R$ ',
      allowNegative: false,
      thousands: ',',
      decimal: '.',
      affixesStay: false
    });
  });
</script>
<form method="post" action="/produto/add" onsubmit="formatMaskMoneyFields()">
  <div class="row">
    <div class="form-group">
      <div class="col-md-8">
        <label for="descricao" class="control-label">Descrição</label>
        <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição..." required>
      </div>
      <div class="col-md-2">
        <label for="quantidade" class="control-label">Quantidade</label>
        <input type="text" class="form-control maskMoneyField" id="quantidade" name="quantidade" placeholder="Quantidade..." maxlength="3" required>
      </div>
      <div class="col-md-2">
        <label for="preco" class="control-label">Preço Unit. (Venda)</label>
        <input type="text" class="form-control maskMoneyField" id="preco" name="preco" placeholder="Preço..." maxlength="10" required>
      </div>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-default">Salvar</button>
</form>
